In [18]:
#One time run to import the project to your drive
!git clone https://github.com/KodeWil/final_project_AI_csv_Data.git

fatal: destination path 'final_project_AI_csv_Data' already exists and is not an empty directory.

In [0]:
def addData(files: str) -> list:
    allCsv = []
    for file in files:
      temp = open(file)
      tempDf = pd.read_csv(file)
      allCsv.append(tempDf)
    return allCsv

In [20]:
import pandas as pd 
import glob 
frames = []

#Create a list ('frames') with four nested lists, one per sensor. 
#Each nested list have all the samples (DF) for that sensor.
%cd /content/final_project_AI_csv_Data/phone/accel
files = glob.glob('*.csv')
files.sort()
frames.append(addData(files))
%cd /content/final_project_AI_csv_Data/phone/gyro
files = glob.glob('*.csv')
files.sort()
frames.append(addData(files))
%cd /content/final_project_AI_csv_Data/watch/accel
files = glob.glob('*.csv')
files.sort()
frames.append(addData(files))
%cd /content/final_project_AI_csv_Data/watch/gyro
files = glob.glob('*.csv')
files.sort()
frames.append(addData(files))
# 0 in frames = /phone/accel
# 1 in frames = /phone/gyro
# 2 in frames = /watch/accel
# 3 in frames = /watch/gyro

/content/final_project_AI_csv_Data/phone/accel
/content/final_project_AI_csv_Data/phone/gyro
/content/final_project_AI_csv_Data/watch/accel
/content/final_project_AI_csv_Data/watch/gyro

In [0]:
import sys
from IPython.display import Image, display
import copy
import random
import pandas as pd
import numpy as np

In [0]:
def printAll(value):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
        display(value)

In [0]:
def activityType(activity : str) -> int:
    noHand = ['A', 'B', 'C', 'M', 'E']
    eating = ['H', 'I', 'J', 'K', 'L']
    if (activity in noHand):
      return 0
    elif (activity in eating):
      return 1
    else:
      return 2

In [0]:
def mapActivitiesTemp(activities):
  mapped = activities
  map(activityType, mapped)

In [0]:
def mapActivities(activities):
  noHand = ['A', 'B', 'C', 'M', 'E']
  eating = ['H', 'I', 'J', 'K', 'L']
  mapped = activities
  for i in range(0,len(activities)):
    if (activities[i] in noHand):
      mapped[i] = 0
    elif (activities[i] in eating):
      mapped[i] = 1
    else:
      mapped[i] = 2
  return mapped

In [0]:
#Directly related features are wrapped in intervals on a list
def selectFeatures(features) -> list:
  labels = copy.deepcopy(features)
  labels = labels.tolist()
  intervals = []
  atts = []
  intervals.append([2, 31]) 
  intervals.append([32, 34]) # {X,Y,Z}AVG 
  intervals.append([35, 37]) # {X,Y,Z}PEAK 
  intervals.append([38, 40]) # {X,Y,Z}ABSOLDEV 
  intervals.append([41, 43]) # {X,Y,Z}STANDDEV 
  intervals.append([44, 46]) # {X,Y,Z}VAR* 
  intervals.append([47, 85]) # FCC
  intervals.append([86, 88]) # COS
  intervals.append([89, 91]) # COR
  intervals.append([92, 92]) # resultant
  selected = []
  nFeatures = random.randint(0, 1)
  for i in range (0, nFeatures + 1):
    selected.append(i)

  for element in selected:
    ini, fin = intervals[element]
    if (ini != 92):
      for i in range(ini, fin + 1):
        atts.append(features[i])
    else:
      atts.append(features[92])
  return atts

In [0]:
#Kmeans clustering
def scoreK(values, ground, clusters)->list:
  from sklearn.cluster import KMeans
  from sklearn import metrics
  # en n_clusters ponemos el número de actividades = 18
  kmeans = KMeans(n_clusters=clusters).fit(values)
  predicho = kmeans.predict(values)

  # adjusted_rand_score entre -1 y 1, mayor que cero es bueno, 1 es perfecto
  rand = metrics.adjusted_rand_score(ground, predicho)
  rand = round(rand, 4)
  
  # adjusted_mutual_info_score 0 y 1, 1 es perfecto
  mutual = metrics.adjusted_mutual_info_score(ground, predicho)
  mutual = round(mutual, 4)
  
  score = (rand, mutual)
  return score

In [0]:
#Agglomerative clustering
def scoreAgglo(values, ground, clusters)->list:
  from sklearn.cluster import AgglomerativeClustering
  from sklearn import metrics
  
  # en n_clusters ponemos el número de actividades = 18
  aglo = AgglomerativeClustering(n_clusters= clusters).fit(values)
  predicho = aglo.labels_

  # adjusted_rand_score entre -1 y 1, mayor que cero es bueno, 1 es perfecto
  rand = metrics.adjusted_rand_score(ground, predicho)
  rand = round(rand, 4)

  # adjusted_mutual_info_score 0 y 1, 1 es perfecto
  mutual = metrics.adjusted_mutual_info_score(ground, predicho)
  mutual = round(mutual, 4)

  score = (rand, mutual)
  return score

In [0]:
#Optics clustering
def scoreOptics(values, ground)->list:

  from sklearn.cluster import OPTICS
  from sklearn import metrics

  score = []
  # en n_clusters ponemos el número de actividades = 18
  optic = OPTICS(algorithm = 'auto').fit(values)
  predicho = optic.labels_

  # adjusted_rand_score entre -1 y 1, mayor que cero es bueno, 1 es perfecto
  rand = metrics.adjusted_rand_score(ground, predicho)
  rand = round(rand, 4)

  # adjusted_mutual_info_score 0 y 1, 1 es perfecto
  mutual = metrics.adjusted_mutual_info_score(ground, predicho)
  mutual = round(mutual, 4)
  score.append(rand)
  score.append(mutual)
  return score

In [0]:
#MiniBatchKMeans clustering

def ScoreMiniBatchK(values, ground, clusters)->list:

  from sklearn.cluster import MiniBatchKMeans
  from sklearn import metrics

  score = []
  # en n_clusters ponemos el número de actividades = 18
  miniBatch = MiniBatchKMeans(n_clusters = clusters).fit(values)
  predicho = miniBatch.predict(values)

  # adjusted_rand_score entre -1 y 1, mayor que cero es bueno, 1 es perfecto
  rand = metrics.adjusted_rand_score(ground, predicho)
  rand = round(rand, 4)

  # adjusted_mutual_info_score 0 y 1, 1 es perfecto
  mutual = metrics.adjusted_mutual_info_score(ground, predicho)
  mutual = round(mutual, 4)
  score.append(rand)
  score.append(mutual)
  return score

In [0]:
#Calculate adjusted_rand_score and mutual_info_score for each sample and each clustering method
def calcScore(sample)->list:
  
  #Set values to evalute clustering score
  ground_truth = sample["ACTIVITY"].values
  lookupTable, ground_truth = np.unique(ground_truth, return_inverse=True)
  features = selectFeatures(sample.columns)
  X = sample[features].values

  #Evaluate clustering method

  #Kmeans
  temRand,temMutual = scoreK(X, ground_truth, 18)
  scoresK = (temRand, temMutual)

  #Agglomerative
  temRand,temMutual = scoreAgglo(X, ground_truth, 18)
  scoresAgglo = (temRand, temMutual)

  #OPTICS
  temRand,temMutual = scoreOptics(X, ground_truth)
  scoresOpt = (temRand, temMutual)
  scores = [scoresK, scoresAgglo, scoresOpt]

  #Spectral
  temRand,temMutual = ScoreMiniBatchK(X, ground_truth, 18)
  scoresSpec = (temRand, temMutual)

  scores = [scoresK, scoresAgglo, scoresOpt, scoresSpec]
  return scores

In [0]:
#rank is a list that contains 50 list (one per sample), a those 50 lists have a list for clustering method.
# The most nested list contain the values for the two calculated scores
def sensorScores(samplesDf):
  rank = list(map(calcScore, samplesDf))
  scoreFrame = pd.DataFrame(rank)
  cluster = ['Kmeans', 'Agglomerative', 'OPTICS', 'MiniBatchKMeans']
  scoreFrame.columns = cluster
  return scoreFrame

In [0]:
allRanks = list(map(sensorScores, frames))

In [43]:
printAll(allRanks[0])

              Kmeans     Agglomerative            OPTICS   MiniBatchKMeans
0    (0.354, 0.5575)  (0.3391, 0.5617)  (0.1058, 0.4481)  (0.3514, 0.5639)
1   (0.5783, 0.7755)  (0.5798, 0.7782)  (0.1986, 0.5794)  (0.5719, 0.7697)
2   (0.5398, 0.7591)    (0.542, 0.765)  (0.3022, 0.6608)  (0.5558, 0.7551)
3   (0.5399, 0.7605)    (0.542, 0.765)  (0.3022, 0.6608)  (0.5728, 0.7567)
4    (0.292, 0.5397)  (0.2416, 0.4976)  (0.0969, 0.4298)  (0.2471, 0.5217)
5   (0.2381, 0.5077)  (0.2416, 0.4976)  (0.0969, 0.4298)  (0.2429, 0.4996)
6   (0.5459, 0.7504)    (0.542, 0.765)  (0.3022, 0.6608)  (0.4979, 0.7343)
7   (0.2559, 0.5147)  (0.2416, 0.4976)  (0.0969, 0.4298)   (0.2797, 0.514)
8    (0.538, 0.7423)    (0.542, 0.765)  (0.3022, 0.6608)  (0.5365, 0.7541)
9   (0.6345, 0.7739)   (0.621, 0.7638)  (0.2695, 0.6057)  (0.5926, 0.7563)
10  (0.2237, 0.4465)  (0.2311, 0.4607)  (0.0732, 0.3869)  (0.2039, 0.4174)
11  (0.3692, 0.5831)  (0.3335, 0.5715)  (0.1052, 0.4723)  (0.3744, 0.5743)
12  (0.5782, 0.7562)  (0.5721, 0.7581)  (0.0802, 0.4578)  (0.5267, 0.7229)
13  (0.4245, 0.6181)   (0.425, 0.6313)  (0.2123, 0.5604)  (0.3854, 0.6028)
14  (0.3582, 0.6093)   (0.393, 0.6245)  (0.1142, 0.4724)   (0.391, 0.6237)
15  (0.2542, 0.5011)   (0.2736, 0.508)  (0.0881, 0.4262)    (0.266, 0.508)
16  (0.1509, 0.3702)  (0.1402, 0.3485)  (0.0282, 0.2304)  (0.1398, 0.3543)
17  (0.6809, 0.8029)  (0.6798, 0.8155)  (0.0986, 0.4735)  (0.6536, 0.7905)
18  (0.3262, 0.5802)  (0.3025, 0.5605)   (0.1011, 0.458)  (0.2286, 0.5082)
19  (0.3168, 0.5405)  (0.3134, 0.5339)  (0.0251, 0.3155)  (0.2891, 0.5201)
20  (0.3293, 0.5522)   (0.317, 0.5688)  (0.0279, 0.3218)  (0.2955, 0.5562)
21  (0.4369, 0.6295)  (0.4182, 0.6235)    (0.24, 0.5964)   (0.438, 0.6322)
22  (0.4697, 0.6642)  (0.4935, 0.6726)    (0.207, 0.547)  (0.4694, 0.6605)
23  (0.3408, 0.5666)  (0.3319, 0.5407)  (0.0914, 0.4504)  (0.3502, 0.5669)
24  (0.3177, 0.5388)  (0.3369, 0.5508)  (0.0566, 0.3517)  (0.2933, 0.5125)
25  (0.2939, 0.5122)  (0.3322, 0.5513)  (0.0762, 0.4147)  (0.3581, 0.5657)
26  (0.3559, 0.5697)  (0.3315, 0.5751)  (0.1006, 0.4066)  (0.3587, 0.5713)
27  (0.3085, 0.5587)  (0.3527, 0.6074)  (0.2251, 0.5661)  (0.3258, 0.5781)
28  (0.3045, 0.5447)  (0.3051, 0.5529)  (0.0782, 0.4605)  (0.3241, 0.5757)
29  (0.3838, 0.5628)  (0.3919, 0.5801)  (0.1939, 0.5418)  (0.3693, 0.5632)
30  (0.4651, 0.6283)  (0.4669, 0.6271)  (0.2994, 0.5841)  (0.4304, 0.6129)
31   (0.374, 0.5545)  (0.3508, 0.5414)  (0.1473, 0.4897)  (0.4034, 0.5704)
32  (0.5463, 0.7002)  (0.5396, 0.6955)  (0.1533, 0.5104)  (0.5066, 0.6742)
33  (0.4341, 0.6154)  (0.4594, 0.6418)  (0.2313, 0.5616)  (0.3948, 0.5918)
34  (0.2846, 0.4734)  (0.3169, 0.5307)  (0.0725, 0.3779)  (0.2894, 0.4954)
35   (0.3534, 0.578)  (0.3512, 0.5891)  (0.0436, 0.3662)  (0.3591, 0.5844)
36     (0.2, 0.4284)  (0.1943, 0.4316)  (0.0453, 0.3628)  (0.2025, 0.4341)
37  (0.6159, 0.7924)  (0.5986, 0.7988)  (0.1025, 0.4999)  (0.6195, 0.7951)
38  (0.1323, 0.3334)  (0.1471, 0.3459)  (0.0284, 0.3257)   (0.1418, 0.342)
39  (0.4636, 0.6573)  (0.4883, 0.6875)   (0.051, 0.3919)  (0.4732, 0.6674)
40  (0.3135, 0.5681)   (0.2974, 0.559)  (0.0476, 0.3969)   (0.302, 0.5482)
41  (0.5205, 0.7152)  (0.4964, 0.7047)  (0.2143, 0.5464)  (0.4335, 0.6581)
42  (0.5868, 0.7758)   (0.597, 0.7835)  (0.0736, 0.4675)  (0.5672, 0.7508)
43  (0.3573, 0.5847)   (0.358, 0.5955)   (0.087, 0.4409)  (0.3251, 0.5497)
44  (0.5768, 0.7368)  (0.6218, 0.7607)  (0.0478, 0.4014)  (0.5879, 0.7383)
45  (0.4735, 0.6738)    (0.46, 0.6826)  (0.1156, 0.4962)  (0.4709, 0.6723)
46  (0.4797, 0.7149)  (0.4924, 0.7421)  (0.3879, 0.6486)  (0.4374, 0.6947)
47  (0.4596, 0.6686)   (0.479, 0.6747)   (0.105, 0.4657)  (0.4489, 0.6499)
48  (0.5804, 0.8305)  (0.5954, 0.8226)  (0.1773, 0.5879)  (0.5939, 0.8111)
49   (0.2998, 0.515)  (0.3054, 0.5263)  (0.0722, 0.3834)  (0.3249, 0.5377)

In [0]:
# Wrap activities in three categories as suggested in dataset description 
# seleccionar = ["ACTIVITY"]
# X = allData[seleccionar].values
# activityType = copy.deepcopy(X)
# activityType = mapActivities(activityType)
# allData.insert(0, "actType", activityType, True)